* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bgc: #287194;
    --green-color: #328863;
    --opacity-white-30: #ffffff4d;
    --opacity-white-85: #ffffffd9;
    --font-color: #5C5C5C;
    --opacity-font-color-40: #5c5c5c66;
    --opacity-font-color-70: #5c5c5cb3;
    --opacity-icon-color: #5c5c5c99;
    position: relative;

}

html,
button {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    all: unset;
    height: 40px;
    padding: 0 50px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--bgc);
    cursor: pointer;
    margin-left: 70px;
}

.white-text {
    color: #fff;
}

.section-title {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

/* Header */

.header {
    width: 100%;
    height: 170px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    /* background-color: #ddd; */
}

.navigation {
    position: fixed;
    z-index: 1;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.navigation__background {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bgc);
    z-index: -1;
}

.navigation__content {
    display: flex;
    align-items: center;
    height: 100%;
    /* margin: 0 auto; */


    /* background-color: #ffffff80; */
}

.logo {
    margin-right: 30px;
}

.logo__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.menu {
    display: flex;
    padding-left: 30px;
    height: 40px;
    border-left: 1px solid var(--opacity-white-30);
    flex: 1;
}

.menu__item {
    margin-right: 50px;
}

.menu__link {
    line-height: 40px;
    font-weight: 400;
    font-size: 16px;
}

.catalog {
    padding-right: 30px;
    height: 40px;
    border-right: 1px solid var(--opacity-white-30);
}

.catalog__link {
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}

.catalog__icon {
    font-size: 10px;
    line-height: 40px;
}

.icons__link {
    margin-left: 30px;
}

.header__aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    background-color: #fff;
}

.direction {
    display: flex;

    /* background-color: #ffffff80; */
}

.direction__item {
    margin-right: 20px;
}

.direction__link {
    font-weight: 400;
    font-size: 12px;
    color: var(--opacity-font-color-40);
    line-height: 40px;
}

.direction__link--active {
    color: var(--font-color);
}

.direction__icon {
    color: var(--opacity-icon-color);
}

.form {
    background-color: #fff;
    height: 40px;
    width: 570px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.form__input {
    all: unset;
    font: 12px system-ui;
    font-weight: 400;
    color: var(--font-color);
    height: 100%;
    flex: 1;
    margin-right: 20px;
}

::placeholder {
    color: var(--opacity-font-color-40);
}

.form__button {
    all: unset;
    cursor: pointer;
    height: 100%;
}

.delivery__link {
    color: var(--font-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
}

.delivery__icon {
    color: var(--bgc);
    margin-left: 10px;
}

.product {
    background-color: #ddd;
    margin-top: 100px;
    height: 300px;
}

.testimonials {
    margin-top: 100px;
}

.testimonials__glide-container {
    position: relative;
    padding: 0 70px;
    height: 226px;
    margin-bottom: 30px;
}

.testimonials__glide {
    position: static;
    height: 100%;
}

.testimonials__track {
    height: 100%;
}

.testimonials__slides {
    height: 100%;
}

.testimonials-slide {
    padding: 25px 45px;
}

.testimonials-slide__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.testimonials-slide__author {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.testimonials-slide__opinion {
    display: flex;
    align-items: center;
}

.testimonials-slide__date {
    font-size: 12px;
    font-weight: 400;
    color: var(--opacity-font-color-40);
}

.testimonials-slide__stars {
    margin-left: 10px;
}

.testimonials-slide__icon {
    color: var(--green-color);
    margin-left: 2px;
}

.testimonials-slide__text {
    font-size: 16px;
    font-weight: 400;
    color: var(--opacity-font-color-70);
}

.glide__arrows--testimonials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

/* Accessories */

.accessories {
    margin-top: 100px;
    position: relative;
}

.accessories__title {
    line-height: 40px;
}

.accessories__glide {
    height: 300px;
    position: static;
}

.accessories__track {
    height: 100%;
}

.accessories__slides {
    height: 100%;
}

.glide__slide {
    padding: 7px;
}

.glide__slide-content {
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
    height: 100%;
}

.glide__arrows--accessories {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.glide__arrow {
    z-index: 0;
    height: 40px;
    width: 40px;
    position: static;
    color: #fff;
    padding: 0;
    background-color: var(--bgc);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    transform: translateY(0);
    text-align: center;
}

.glide__arrows--accessories>.glide__arrow--left {
    margin-right: 50px;
}

.glide__icon {
    font-size: 20px;
}





.accessories-slide {
    position: relative;
}

.accessories-slide__discount {
    background-color: var(--green-color);
    position: absolute;
    right: 0;
    top: 24px;
    padding: 10px 20px;
}

.accessories-slide__discount-value {
    font-size: 16px;
    font-weight: 500;
}

.accessories-slide__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accessories-slide__text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.accessories-slide__bold-text {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.accessories-slide__light-text {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    color: var(--font-color);
}

.accessories-slide__text--line-through {
    text-decoration: line-through;
}





/* Footer */

.footer {
    margin-top: 100px;
    height: 381px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 381px;
    background: linear-gradient(180deg, #287194 0%, #0F435B 100%);
    z-index: -1;
}

.contacts__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

.contacts__item {
    margin-bottom: 30px;
}

.contacts__icon {
    color: #fff;
    width: 20px;
    margin-right: 10px;
}

.contacts__icon--social-media {
    margin-right: 30px;
    font-size: 20px;
}

.contacts__link {
    color: var(--opacity-white-85);
    font-size: 16px;
    font-weight: 400;
}

.contacts__social-media {
    display: flex;
}