* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bgc: #287194;
    --blue-color: #76B0CC;
    --green-color: #328863;
    --cobalt-color: #324688;
    --purple-color: #883271;
    --opacity-white-30: #ffffff4d;
    --opacity-white-85: #ffffffd9;
    --opacity-black-30: #0000004d;
    --font-color: #5C5C5C;
    --opacity-font-color-30: #5c5c5c4d;
    --opacity-font-color-40: #5c5c5c66;
    --opacity-font-color-50: #5c5c5c80;
    --opacity-font-color-70: #5c5c5cb3;
    --opacity-icon-color: #5c5c5c99;
    position: relative;

}

html,
button {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
    color: var(--font-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.section {
    margin-top: 100px;
}

.button {
    all: unset;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--bgc);
    cursor: pointer;
    text-align: center;
}

.white-text {
    color: #fff;
}

.opacity-40 {
    color: var(--opacity-font-color-40);
    font-weight: 400;
}

.section__title {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

/* Header */

.header {
    width: 100%;
    height: 170px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    /* background-color: #ddd; */
}

.navigation {
    position: fixed;
    z-index: 2;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.navigation__background {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bgc);
    z-index: -1;
}

.navigation__content {
    display: flex;
    align-items: center;
    height: 100%;
    /* margin: 0 auto; */


    /* background-color: #ffffff80; */
}

.logo {
    margin-right: 30px;
}

.logo__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.menu {
    display: flex;
    padding-left: 30px;
    height: 40px;
    border-left: 1px solid var(--opacity-white-30);
    flex: 1;
}

.menu__item {
    margin-right: 50px;
}

.menu__link {
    line-height: 40px;
    font-weight: 400;
    font-size: 16px;
}

.catalog {
    padding-right: 30px;
    height: 40px;
    border-right: 1px solid var(--opacity-white-30);
}

.catalog__link {
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}

.catalog__icon {
    font-size: 10px;
    line-height: 40px;
}

.icons__link {
    margin-left: 30px;
    position: relative;
    width: 40px;
}

.icons__icon {
    font-size: 19px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: -10px;
    right: -13px;
    display: inline-block;
    text-align: center;
}

.circle__value {
    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}

.header__aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    background-color: #fff;
}

.direction {
    display: flex;

    /* background-color: red; */
}

.direction__item {
    margin-right: 20px;
}

.direction__link {
    font-weight: 400;
    font-size: 12px;
    color: var(--opacity-font-color-40);
    line-height: 40px;
}

.direction__link--active {
    color: var(--font-color);
}

.direction__icon {
    color: var(--opacity-icon-color);
}

.form {
    background-color: #fff;
    height: 40px;
    flex: 1;
    max-width: 570px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
    margin: 0 30px;
}

.form__input {
    all: unset;
    font: 12px system-ui;
    font-weight: 400;
    color: var(--font-color);
    height: 100%;
    flex: 1;
    margin-right: 20px;
}

::placeholder {
    color: var(--opacity-font-color-40);
}

.form__button {
    all: unset;
    cursor: pointer;
    height: 100%;
}

.delivery__link {
    color: var(--font-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
}

.delivery__icon {
    color: var(--bgc);
    margin-left: 10px;
}

/* Section product */

.product__container {

    display: grid;
    /* grid-template-columns: 16.66% 16.66% 16.66% 50%; */
    grid-template-columns: 170px 170px 170px auto;
    /* grid-template-rows: 70px 252px 92px 130px; */
    grid-template-areas: "chair chair chair price""chair chair chair specifications""chair chair chair payment""image1 image2 image3 payment";
    grid-gap: 30px;
}

.product__chair {
    grid-area: chair;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
    position: relative;

    /* background-color: red; */
}

.chair__info {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    z-index: 1;
}

.chair__opinion {
    display: flex;
    align-items: center;
}

.chair__icon {
    color: var(--green-color);
    margin-right: 5px;
    font-size: 18px;
}

.chair__stars-value {
    padding-right: 10px;
    border-right: 1px solid var(--opacity-font-color-30);
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
}

.chair__reviews {
    font-size: 12px;
    font-weight: 500;
}

.chair__code {
    font-size: 12px;
    font-weight: 500;
    color: var(--font-color);
}

.chair__name-price {
    position: absolute;
    top: 80px;
    left: 25px;
    z-index: 1;
}

.chair__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.chair__price {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.chair__old-price {
    font-weight: 400;
    font-size: 14px;
    color: var(--font-color);
    text-decoration: line-through;
}


.product__glide {
    height: 100%;
    width: 100%;
}

.product__track {
    height: 100%;
}

.product__slides {
    height: 100%;
}

.product__slide {
    position: relative;
}

.product__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glide__arrows--product {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: 25px;
    display: flex;
    justify-content: space-between;
}

.product__image {
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
    padding: 25px 45px;
    text-align: center;
}

.product__image--1 {
    grid-area: image1;
}

.product__image--2 {
    grid-area: image2;
}

.product__image--3 {
    grid-area: image3;
}

.product__price {
    grid-area: price;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.price__name-price {
    display: flex;
}

.price__name {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-right: 20px;
}

.price__price {
    font-weight: 400;
    font-size: 18px;
}

.price__favorite {
    display: flex;
}

.price__date {
    font-size: 16px;
    margin-right: 15px;
}

.price__icon {
    color: var(--green-color);
    font-size: 18px;
}


.product__specifications {
    grid-area: specifications;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.specifications {
    padding: 25px;
}

.specifications__title {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.specifications__description {
    font-weight: 400;
    font-size: 16px;
    color: var(--opacity-font-color-70);
    margin-bottom: 25px;
}

.specifications__colors {
    display: flex;
}

.specifications__color {
    height: 28px;
    width: 28px;
    margin-right: 25px;
}

.specifications__color--blue {
    background-color: var(--blue-color);
}

.specifications__color--green {
    background-color: var(--green-color);
}

.specifications__color--cobalt {
    background-color: var(--cobalt-color);
}

.specifications__color--purple {
    background-color: var(--purple-color);
}

.product__payment {
    grid-area: payment;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.payment {
    padding: 25px;
}

.payment__title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 25px;
}

.payment__category {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: #ddd; */
}

.payment__subtitle {
    font-weight: 400;
    font-size: 16px;
}

.payment__methods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.payment__method {
    display: flex;
    align-items: center;
    padding-left: 25px;
    border-left: 1px solid var(--opacity-font-color-30);
    margin-left: 25px;
}

.payment__method--1 {
    border: none;
    padding: 0;
}

.payment__method--2 {
    border: none;
    padding: 0;
}

.payment__check {
    height: 28px;
    width: 28px;
    border: 1px solid var(--font-color);
    margin-right: 5px;
    text-align: center;
}

.payment__icon {
    color: var(--green-color);
    line-height: 28px;
}

.payment__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--opacity-font-color-70);
}

.payment__buttons {
    margin-top: 35px;
    display: flex;
}

.payment__button {
    flex: 1;
    margin-left: 0;
    height: 40px;
}



.payment__button--1 {
    margin-right: 20px;
    background-color: #fff;
    border: 2px solid var(--bgc);
    color: var(--bgc);
}

/* Section testimonials */

.testimonials__glide-container {
    position: relative;
    padding: 0 70px;
    height: 226px;
    margin-bottom: 30px;
}

.testimonials__glide {
    position: static;
    height: 100%;
}

.testimonials__track {
    height: 100%;
}

.testimonials__slides {
    height: 100%;
}

.testimonials-slide {
    padding: 25px 45px;
}

.testimonials-slide__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.testimonials-slide__author {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.testimonials-slide__opinion {
    display: flex;
    align-items: center;
}

.testimonials-slide__date {
    font-size: 12px;
    font-weight: 400;
    color: var(--opacity-font-color-40);
}

.testimonials-slide__stars {
    margin-left: 10px;
}

.testimonials-slide__icon {
    color: var(--green-color);
    margin-left: 2px;
}

.testimonials-slide__text {
    font-size: 16px;
    font-weight: 400;
    color: var(--opacity-font-color-70);
}

.glide__arrows--testimonials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.testimonials__button {
    height: 40px;
    margin-left: 70px;
    padding: 0 50px;
}


/* Section accessories */

.accessories {
    position: relative;
}

.accessories__title {
    line-height: 40px;
}

.accessories__glide {
    height: 300px;
    position: static;
}

.accessories__track {
    height: 100%;

    width: 100%;
}

.accessories__slides {
    height: 100%;
}

.glide__slide {
    padding: 7px;
}

.glide__slide-content {
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
    height: 100%;
}

.glide__arrows--accessories {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.glide__arrow {
    z-index: 0;
    height: 40px;
    width: 40px;
    position: static;
    color: #fff;
    padding: 0;
    background-color: var(--bgc);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    transform: translateY(0);
    text-align: center;
}

.glide__arrows--accessories>.glide__arrow--left {
    margin-right: 50px;
}

.glide__icon {
    font-size: 20px;
}

.accessories-slide {
    position: relative;
}

.accessories-slide__discount {
    background-color: var(--green-color);
    position: absolute;
    right: 0;
    top: 24px;
    padding: 10px 20px;
}

.accessories-slide__discount-value {
    font-size: 16px;
    font-weight: 500;
}

.accessories-slide__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accessories-slide__text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.accessories-slide__bold-text {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.accessories-slide__light-text {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    color: var(--font-color);
}

.accessories-slide__text--line-through {
    text-decoration: line-through;
}





/* Footer */

.footer {
    margin-top: 100px;
    height: 381px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 381px;
    background: linear-gradient(180deg, #287194 0%, #0F435B 100%);
    z-index: -1;
}

.contacts__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

.contacts__item {
    margin-bottom: 30px;
}

.contacts__icon {
    color: #fff;
    width: 20px;
    margin-right: 10px;
}

.contacts__icon--social-media {
    margin-right: 30px;
    font-size: 20px;
}

.contacts__link {
    color: var(--opacity-white-85);
    font-size: 16px;
    font-weight: 400;
}

.contacts__social-media {
    display: flex;
}






















/* Subpage delivery */

.delivery__container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "name number details""mail city details""street apartment details""confirm edit details";
    grid-gap: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--opacity-black-30);
    margin-bottom: 35px;
}

.delivery__input {
    font: 16px system-ui;
    margin-right: 0;
    padding: 20px 25px;
    height: auto;

}

.delivery__input::placeholder {
    color: var(--opacity-font-color-50);
}

.delivery__input--name {
    grid-area: name;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.delivery__input--number {
    grid-area: number;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.delivery__input--mail {
    grid-area: mail;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.delivery__input--city {
    grid-area: city;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.delivery__input--street {
    grid-area: street;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.delivery__input--apartment {
    grid-area: apartment;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}






.delivery__details {
    grid-area: details;
    box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
}

.details {
    padding: 30px;
}

.details__title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 30px;
}

.details__categories {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.details__category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details__subtitle {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.details__text {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;

}

.details__button {
    background-color: #fff;
    border: 2px solid var(--bgc);
    color: var(--bgc);
    height: 40px;
    width: 100%;
}

.delivery__button {
    padding: 20px 0;
}

.delivery__button--confirm {
    grid-area: confirm;
}

.delivery__button--edit {
    grid-area: edit;
    background-color: #fff;
    border: 2px solid var(--bgc);
    color: var(--bgc);
}

.agreement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.agreement__check {
    height: 19px;
    width: 19px;
    border: 1px solid var(--font-color);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agreement__icon {
    color: var(--green-color);
    font-size: 12px;
}

.agreement__text {
    font-size: 16px;
    font-weight: 400;
}



/* Subpage order */

.order__container {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}